<div class="main-section">
  <%= image_tag "little_house.png", class: "house-image" %>

  <div class="about-us">
    <p>
      Welcome to Olive Street Bread!
    </p>

    <p>
      At Olive Street Bread, we love making freshly baked sourdough for our community. After years of professional baking and sharing our breads through La Petite Chevre, we wanted to continue this journey by baking for friends, family, and anyone else who might appreciate a loaf.
    </p>

    <p>
      Each week, we prepare small batches of sourdough using quality mostly organic ingredients and a long, slow fermentation process to let the natural flavors of the grain shine.
    </p>

    <p>
      We look forward to sharing our baking with you!
    </p>

    <p>
      Julia and Alistair
    </p>
    <p>
      Olive Street Bread
    </p>
  </div>
</div>

<div class="main-section-border"></div>

<div class="image-banner">
  <%= image_tag "stand.jpg", alt: "Bread Stand"%>
  <%= image_tag "flowers2.jpg", alt: "Basket of Flowers" %>
  <%= image_tag "loaf1.jpg", alt: "Olive Street Bread Loaf Whole" %>
</div>

<header class="product-section-header">
  <h1 class="font-serif text-h4 mb-5 md:text-h3">
    Our Bread
  </h1>
</header>

<section class="product-section">
  <%= render 'featured_products', { products: @featured_products } if @featured_products.try(:any?) %>
</section>

<%= render 'collection', { title: "Shop Collection", products: @collection_products } if @collection_products.try(:any?) %>
<%= render 'collections_with_call_to_action', { products: @cta_collection_products[0..1] } if @cta_collection_products.try(:any?) %>
<%= render 'featured_product_banner', { product: @cta_collection_products[2] } if @cta_collection_products && @cta_collection_products.size > 2 %>
<%= render 'collection', { title: "New Arrivals", products: @new_arrivals } if @new_arrivals.try(:any?) %>
