<div class="main-section">
  <%= image_tag "little_house.png", class: "house-image" %>

  <div class="about-us">
    <p>
      Welcome to Olive Street Bread!
    </p>

    <p>
      At Olive Street Bread, we're passionate about crafting freshly baked sourdough for our community. After years of professional baking and sharing our breads with La Petite Chevre, we wanted to continue this journey by baking for friends and family.
    </p>

    <p>
      Each week, we prepare small batches of sourdough using quality organic ingredients and a long, slow fermentation process to let the natural flavors of the grain shine.
    </p>

    <p>
      Our weekly pickups are a way to share our love of bread with you. We truly appreciate your support and are happy to be your source for delicious sourdough.
    </p>

    <p>
      We look forward to sharing our baking with you!
    </p>

    <p>
      Alistair
    </p>
    <p>
      Olive Street Bread
    </p>
  </div>
</div>

<header class="product-section-header">
  <h1 class="font-serif text-h4 mb-5 md:text-h3">
    Our Bread
  </h1>
</header>

<section class="product-section">
  <%= render 'featured_products', { products: @featured_products } if @featured_products.try(:any?) %>
</section>

<%= render 'collection', { title: "Shop Collection", products: @collection_products } if @collection_products.try(:any?) %>
<%= render 'collections_with_call_to_action', { products: @cta_collection_products[0..1] } if @cta_collection_products.try(:any?) %>
<%= render 'featured_product_banner', { product: @cta_collection_products[2] } if @cta_collection_products && @cta_collection_products.size > 2 %>
<%= render 'collection', { title: "New Arrivals", products: @new_arrivals } if @new_arrivals.try(:any?) %>
