<h1>Edit Cookie</h1>

<%= form_for(@object, url: admin_cookie_path) do |form| %>
  <div class="mb-4">
    <%= form.label :name %>
    <br />
    <%= form.text_field :name %>
  </div>

  <div class="mb-4">
    <%= form.label :ingredients %>
    <br />
    <%= form.text_area :ingredients %>
  </div>

  <div>
    <%= form.submit 'Update Cookie' %>
  </div>
<% end %>
