<header class="wrapper grid-container w-full pt-2.5 px-5 lg:px-6 2xl:px-0">
  <div class="col-span-full flex items-center justify-center lg:justify-between lg:gap-x-6">
    <div class="header-container flex items-center gap-x-4 xl:gap-x-8 w-full justify-center py-10">
      <% navMobileClasses = '
        categories-menu
        z-40 h-full
        transition-transform duration-300 ease-in-out
        flex flex-col
        lg:bg-sand dark:bg-black dark:text-white text-black dark:lg:text-sand
        py-5 text-body-sm'
      %>
      <% navDesktopClasses = '
        lg:relative lg:z-0 lg:h-auto lg:max-h-[70px] lg:transition-none lg:translate-x-0
        lg:flex-row lg:items-center
        dark:lg:text-sand
        lg:p-0'
      %>

      <nav class="<%= navMobileClasses + navDesktopClasses %> text-" data-drawer-target="drawer">
        <a class="w-fit py-3 px-7 rounded-full text-body-sm font-sans-md tracking-wider leading-none uppercase whitespace-nowrap transition-colors duration-200 bg-red-500 text-white hover:bg-red-700 false false " target="_self" href="/products/weekly-bread">Order</a>
      </nav>

      <div class="header-image">
        <%= link_to root_path do %>
          <%= image_tag "pagetitle.png" %>
        <% end %>
      </div>

      <div class="header-links">
        <a class="instagram-link" href="https://www.instagram.com/olive_street_bread/" target="_blank" aria-label="Instagram">
          <%= image_tag "black-instagram-icon.svg" %>
        </a>

        <a class="cart-link" href="/cart">
          <%= image_tag "cart-icon.svg" %>
        </a>
      </div>
    </div>
  </div>
</header>
